.footer {
  color: #9cbec8;
  font-size: 13px;
  background: #0a5f75;
}

.span {
  float: right;
}

.lightText {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footerTop {
  padding: 60px 0 30px 0;
  background: #0a5f75;
}

.footerTop .footerLink .address {
  font-size: 10px;
  line-height: 18px;
  margin-bottom: 0;
  font-family: "Muli", sans-serif;
  color: #9cbec8 !important;
}

.footerTop .pageHeading {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

.footerTop .footerLinks .list {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footerTop .footerLinks .listContent {
  color: #9cbec8;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footerTop .footerLinks .listContent:hover {
  text-decoration: none;
  color: #000000;
}
